<?xml version="1.0" encoding="US-ASCII"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.regen.network/ceres/Ceres"
			class = "network.regen.ceres.ceres.CeresPackage"
			genModel = "model/generated/Ceres.genmodel" />
	</extension>
</plugin>
