/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body
  font-family 'Lato', sans-serif;
  font-size 1.05em

h1, h2, h3, h4, h5, h6
  font-weight 600 !important

td
  vertical-align top

.site-name
  font-weight 400 !important
  font-size 1.05em !important

.home .hero img
  max-height 350px !important
  object-fit cover
  width 100%

#main-title
  display none

.navbar
  background #FDFDFD

.navbar .links
  background #FDFDFD !important

.sidebar
  background #FDFDFD

.content__default
  padding-top 5% !important
